* {
    box-sizing: border-box;
  }

.nav-bar {
    width: 100%;
    background-color: gold;
    position: relative;
    font-size: 25px;
}

.nav-bar__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 50px 10px;
}

.search {
    position: absolute;
    height: 50px;
    top: 100px;
    left: 50%;
    width: 90%;
    margin: 0 auto;
    transform:translateX(-50%);
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 7px gray ;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

input[type=text] {
    width: 90%;
    height: 40px;
    border: none;
}

input:focus {
    outline: none;
}

.header {
    margin: 80px 40px;
    height: 200px;
    width: 100%;
}

.header-book {
    display: flex;
}

.header-book__text {
    width: 40%;
}

.header-title {
    font-size: 25px;
    margin: 20px 0;
    font-weight: 900;
}

.header-book__img {
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
}

.header-book__img img{
    width: 150px;
    height: 250px;
}

.book-list {
    margin: 150px 0px 0 40px;
}

.book-title {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
}

.book-author {
    font-size: 15px;
    margin-bottom: 15px;
    color: darkgrey;
}

.book-rate {
    margin-bottom: 15px;
    color: gold;
    font-size: 10px;
}

.book-keword {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.book-pur {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-keword__word {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 10px;
}

.book-bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: gold;
    border-radius: 50%;
}

.book-purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 15px;
}

.book-list__column {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 90%;
    scrollbar-width: none;
}

.book-list__item {
    width: 150px;
    height: 190px;
}

.book-list__item img {
    width: 100px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.book-list__item .book-rate {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.author {
    margin: 60px 40px;
    height: 200px;
    width: 100%;
}

.author-book {
    display: flex;
}

.author-book__text {
    width: 50%;
    height: 100px;
}

.author-title {
    font-size: 25px;
    margin: 20px 0;
    font-weight: 900;
}

.author-book__text .author-title {
    font-weight: 700;
}

.author-book__img {
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
}

.author-book__img img{
    width: 150px;
    height: 200px;
}

.author-content {
    color: darkgray;
}